<header class="d-flex justify-content-between bg-white border-bottom shadow-sm p-3">

	<form
		class="flex-grow-1"
		action=""
	>
		<app-shared-text-input
			placeholder="Поиск"
		>
		</app-shared-text-input>
	</form>
	<a
		app-shared-button
		class="btn btn-primary mx-2"
		[routerLink]="['/login']"
	>
		Войти
	</a>

	<div class="show">
		<button
			type="button"
			class="btn btn-outline-primary"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		>
			<i class="bi bi-person-circle"></i>
		</button>
		<div class="dropdown-menu show">
			<a class="dropdown-item" href="#">
				Настройки
			</a>
			<a class="dropdown-item" href="#">
				Выход
			</a>
		</div>
	</div>
</header>
