<div class="container pb-5 my-auto">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1 class="text-center mb-4">
				Выполните вход
			</h1>

			<form
				[formGroup]="form"
				(ngSubmit)="submit()"
			>
				<div class="form-group">
					<input
						class="form-control"
						formControlName="email"
						placeholder="Адрес почты"
						[ngClass]="{
							'is-invalid': email?.invalid && email?.touched,
							'is-valid': email?.valid && !message
						}"
					>
					<p *ngIf="email?.touched && email?.invalid" class="d-block invalid-feedback">
						<ng-container *ngIf="email?.errors?.['required']">
							Поле не&nbsp;может быть пустым
						</ng-container>
						<ng-container *ngIf="email?.errors?.['email']">
							Введите корректный email
						</ng-container>
					</p>
					<p class="d-block invalid-feedback" *ngIf="auth.errorEmail$ | async as errorEmail">
						{{ errorEmail }}
					</p>
				</div>
				<div class="form-group">
					<input
						class="form-control mt-2"
						formControlName="password"
						placeholder="Пароль"
						type="password"
						[ngClass]="{
							'is-invalid': password?.invalid && password?.touched,
							'is-valid': password?.valid && !message
						}"
					>
					<!--TODO: type="current-password"-->

					<p *ngIf="password?.touched && password?.invalid" class="d-block invalid-feedback">
						<ng-container *ngIf="password?.errors?.['required']">
							Поле не&nbsp;может быть пустым
						</ng-container>
						<ng-container *ngIf="password?.errors?.['minlength']">
							Пароль должен быть больше
							{{password?.errors?.['minlength']?.['requiredLength']}} символов.
							<span class="text-dark">
								Осталось
								{{
									password?.errors?.['minlength']?.['requiredLength']
									- password?.errors?.['minlength']?.['actualLength']
								}}
								<span
									declension
									[value]="
										password?.errors?.['minlength']?.['requiredLength']
										- password?.errors?.['minlength']?.['actualLength']
									"
									[arVariants]="['символ', 'символа', 'символов']"
								></span>
							</span>
						</ng-container>
					</p>
					<p class="d-block invalid-feedback" *ngIf="auth.errorPassword$ | async as errorPassword">
						{{ errorPassword }}
					</p>
				</div>

				<div class="form-check my-3">
					<input
						class="form-check-input"
						type="checkbox"
						id="rememberMe"
					>
					<label
						class="form-check-label"
						for="rememberMe"
					>
						Запомнить меня
					</label>
				</div>

				<button
					app-shared-button
					class="btn btn-primary w-100"
					[disabled]="form.invalid || submitted"
					type="submit"
				>
					Войти
				</button>
			</form>
		</div>
	</div>
</div>
