@use 'sass:math';

@mixin make-col($size, $columns: $grid-columns) {
	flex: 0 0 auto;
	width: percentage(math.div($size, $columns));
}

@mixin make-col-offset($size, $columns: $grid-columns) {
	$num : math.div($size, $columns);

	margin-left: if($num == 0, 0 , percentage($num));
}

@mixin make-col-offset-right($size, $columns: $grid-columns) {
	$num: math.div($size, $columns);

	margin-right: if($num == 0, 0, $num * 100vw);
}

@mixin make-css-grid-cols($breakpoints: $grid-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		$prefix: breakpoint-prefix($breakpoint, $breakpoints);

		@include media-breakpoint-up($breakpoint, $breakpoints) {
			@if ($columns > 0) {
				@for $i from 1 through $columns {
					.#{$prefix}col-#{$i} {
						grid-column-end: span $i;
					}
				}

				@for $i from 1 through ($columns - 1) {
					.#{$prefix}col-start-#{$i} {
						grid-column-start: $i;
					}
				}
			}
		}
	}
}

@mixin make-css-grid-rows($breakpoints: $grid-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		$prefix: breakpoint-prefix($breakpoint, $breakpoints);

		@include media-breakpoint-up($breakpoint, $breakpoints) {
			$i: 2;

			@while $i <= $columns {
				.#{$prefix}row-cols-#{$i} {
					--grid-columns: #{$i};

					> * {
						grid-column: auto;
					}

					$i: $i + 1;
				}
			}
		}
	}
}






//$screen-xs: 0 !default;
//$screen-nexus: 600px !default;
//$screen-sm: 768px !default;
//$screen-md: 992px !default;
//$screen-lg: 1440px !default;
//
//$container-xs: 100% !default;
//$container-sm: 720px !default;
//$container-md: 960px !default;
//$container-lg: 1344px !default;
//
//$grid-columns: 12 !default;
//$grid-gutter-width: 32px !default;
//
//@mixin container (
//	$xs-grid-gutter: $grid-gutter-width,
//	$sm-grid-gutter: $grid-gutter-width,
//	$md-grid-gutter: $grid-gutter-width,
//	$lg-grid-gutter: $grid-gutter-width,
//) {
//	display: block;
//	margin-left: auto;
//	margin-right: auto;
//	width: 100%;
//
//	@if ($xs-grid-gutter != 0) {
//		padding-left: calc($xs-grid-gutter / 2);
//		padding-right: calc($xs-grid-gutter / 2);
//	}
//
//	@media(min-width: $screen-sm) {
//		width: $container-sm;
//		@if ($sm-grid-gutter != $xs-grid-gutter) {
//			padding-left: calc($sm-grid-gutter / 2);
//			padding-right: calc($sm-grid-gutter / 2);
//		}
//	}
//
//	@media(min-width: $screen-md) {
//		width: $container-md;
//		@if ($md-grid-gutter != $sm-grid-gutter) {
//			padding-left: calc($md-grid-gutter / 2);
//			padding-right: calc($md-grid-gutter / 2);
//		}
//	}
//
//	@media(min-width: $screen-lg) {
//		width: $container-lg;
//		@if ($lg-grid-gutter != $md-grid-gutter) {
//			padding-left: calc($lg-grid-gutter / 2);
//			padding-right: calc($lg-grid-gutter / 2);
//		}
//	}
//}
//
//@mixin row (
//	$xs-grid-gutter: 24px,
//	$sm-grid-gutter: $grid-gutter-width,
//	$md-grid-gutter: $grid-gutter-width,
//	$lg-grid-gutter: $grid-gutter-width,
//) {
//	display: flex;
//	flex-wrap: wrap;
//
//	& > * {
//		flex-basis: 100%;
//	}
//
//	@if ($xs-grid-gutter !=0) {
//		margin-left: calc($xs-grid-gutter / -2);
//		margin-right: calc($xs-grid-gutter / -2);
//	}
//
//	@if ($sm-grid-gutter != $xs-grid-gutter) {
//		@media(min-width: $screen-sm) {
//			margin-left: calc($sm-grid-gutter / -2);
//			margin-right: calc($sm-grid-gutter / -2);
//		}
//	}
//
//	@if ($md-grid-gutter != $sm-grid-gutter) {
//		@media(min-width: $screen-md) {
//			margin-left: calc($md-grid-gutter / -2);
//			margin-right: calc($md-grid-gutter / -2);
//		}
//	}
//
//	@if ($lg-grid-gutter != $md-grid-gutter) {
//		@media(min-width: $screen-lg) {
//			margin-left: calc($lg-grid-gutter / -2);
//			margin-right: calc($lg-grid-gutter / -2);
//		}
//	}
//}
//
//@mixin get-width ($column: 1, $columns: $grid-columns) {
//	$width: calc(100% / $columns) * $column;
//	flex: 0 0 $width;
//	max-width: $width;
//}
//
//@mixin make-col (
//	$column: 1,
//	$columns: $grid-columns,
//	$gutter: $grid-gutter-width
//) {
//	@include get-width($column, $columns);
//
//	@if ($gutter != false) {
//		padding-left: calc($gutter / 2);
//		padding-right: calc($gutter / 2);
//	}
//}
//
//@mixin col (
//	$screen: xs,
//	$column: $grid-columns,
//	$columns: $grid-columns,
//	$gutter: $grid-gutter-width
//) {
//	@if ($screen == xs) {
//		@include make-col($column, $columns, $gutter);
//	}
//
//	@if ($screen == sm) {
//		@media (min-width: $screen-sm) {
//			@include make-col($column, $columns, $gutter);
//		}
//	}
//
//	@if ($screen == md) {
//		@media (min-width: $screen-md) {
//			@include make-col($column, $columns, $gutter);
//		}
//	}
//
//	@if ($screen == lg) {
//		@media (min-width: $screen-lg) {
//			@include make-col($column, $columns, $gutter);
//		}
//	}
//}
//
//@mixin col-offset (
//	$screen: xs,
//	$column: 1,
//	$columns: $grid-columns
//) {
//	@if ($screen == xs) {
//		margin-left: calc($column * 100% / $columns);
//	}
//
//	@if ($screen == sm) {
//		@media (min-width: $screen-sm) {
//			margin-left: calc($column * 100% / $columns);
//		}
//	}
//
//	@if ($screen == md) {
//		@media (min-width: $screen-md) {
//			margin-left: calc($column * 100% / $columns);
//		}
//	}
//
//	@if ($screen == lg) {
//		@media (min-width: $screen-lg) {
//			margin-left: calc($column * 100% / $columns);
//		}
//	}
//}
//
//@mixin col-order (
//	$screen: xs,
//	$order: 1
//) {
//	@if ($screen == xs) {
//		@media (min-width: $screen-xs) {
//			order: $order;
//		}
//	}
//	@if ($screen == sm) {
//		@media (min-width: $screen-sm) {
//			order: $order;
//		}
//	}
//	@if ($screen == md) {
//		@media (min-width: $screen-md) {
//			order: $order;
//		}
//	}
//	@if ($screen == lg) {
//		@media (min-width: $screen-lg) {
//			order: $order;
//		}
//	}
//}
