@use 'sass:math';

@mixin make-css-grid-cols($breakpoints: $grid-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		$prefix: breakpoint-prefix($breakpoint, $breakpoints);

		@include media-breakpoint-up($breakpoint, $breakpoints) {
			@if ($columns > 0) {
				@for $i from 1 through $columns {
					.#{$prefix}col-#{$i} {
						grid-column-end: span $i;
					}
				}

				@for $i from 1 through ($columns - 1) {
					.#{$prefix}col-start-#{$i} {
						grid-column-start: $i;
					}
				}
			}
		}
	}
}

@mixin make-css-grid-rows($breakpoints: $grid-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		$prefix: breakpoint-prefix($breakpoint, $breakpoints);

		@include media-breakpoint-up($breakpoint, $breakpoints) {
			$i: 2;

			@while $i <= $columns {
				.#{$prefix}row-cols-#{$i} {
					--grid-columns: #{$i};

					> * {
						grid-column: auto;
					}

					$i: $i + 1;
				}
			}
		}
	}
}
