<h1 class="display-4">
	Рабочие пространства
</h1>

<div
	*ngIf="errorMsg"
>
	{{errorMsg}}
</div>

<div
	*ngFor="let workspace of workspaces"
	class="py-4"
>
	<div class="d-flex align-items-start gap-2 py-2">
		<div class="flex-grow-1">
			<a
				class="h5 mb-0"
				[routerLink]="['/client', 'workspace', workspace.id]"
			>
				{{workspace.title}}
			</a>
			<div class="text-secondary">
				{{workspace.description}}
			</div>
		</div>
		<div class="d-flex gap-2">
			<button
				app-shared-button
				class="btn btn-sm btn-outline-secondary"
			>
				Доски
			</button>
			<button
				app-shared-button
				class="btn btn-sm btn-outline-secondary"
			>
				Участники
			</button>
			<button
				app-shared-button
				class="btn btn-sm btn-outline-secondary"
			>
				Настройки
			</button>
			<button
				app-shared-button
				class="btn btn-sm btn-outline-danger"
				(click)="remove(workspace.id)"
			>
				Удалить
			</button>
		</div>
	</div>

	<div class="d-flex flex-wrap gap-2">

	</div>
</div>
