:root {


$cl: (
	black: #000000,
	gray-1: #585858,
	gray-2: #5F5F5F,
	gray-3: #6C6C6C,
	gray-4: #EBEBEB,
	gray-5: #F6F6F6,
	white: #FFFFFF,
	blue-2: #E0E4EA,
	blue-1: #D9E5F9,
	blue-3: #F8F8FB,
	orange-1: #FD633D,
	orange-2: #FF9533,
	red-1: #E74444,
	green-1: #67CB65,
);

@include get-colors($cl);

@include
get-alpha($cl, 'black',
	(
		10: .1,
	)
);


}


