:root {
	--cl-black: #000000;
	--cl-gray-1: #585858;
	--cl-gray-2: #5f5f5f;
	--cl-gray-3: #6c6c6c;
	--cl-gray-4: #ebebeb;
	--cl-gray-5: #f6f6f6;
	--cl-white: #ffffff;
	--cl-blue-2: #e0e4ea;
	--cl-blue-1: #d9e5f9;
	--cl-blue-3: #f8f8fb;
	--cl-orange-1: #fd633d;
	--cl-orange-2: #ff9533;
	--cl-red-1: #e74444;
	--cl-green-1: #67cb65;
}
