:root {


// FONT FAMILIES
// -----------------------------------------------

--ff-roboto: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
--ff-rubik: 'Aeroport', 'Helvetica Neue', 'Arial', sans-serif;

// -----------------------------------------------
// FONT FAMILIES


// FONT WEIGHTS
// -----------------------------------------------

--fw-n: 400;
--fw-m: 500;
--fw-sb: 600;
--fw-b: 700;
--fw-xb: 800;

// -----------------------------------------------
// FONT WEIGHTS


// FONT SIZES
// -----------------------------------------------

--fz-xs: 14px;
--fz-sm: 16px;
--fz-md: 18px;
--fz-lg: 20px;
--fz-h3: 36px;

// -----------------------------------------------
// FONT SIZES


// LINE HEIGHTS
// -----------------------------------------------

--lh-1: 1;

// -----------------------------------------------
// LINE HEIGHTS


}

