<div class="row gx-0 h-100">
	<div class="col-md-4 bg-light bg-opacity-50 h-auto">
		<nav class="navbar flex-column">
			<ul class="navbar-nav border-bottom w-100 px-5 pt-5 pb-3">
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/client', 'home']"
						routerLinkActive="text-primary"
					>
						Главная
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/client', 'profile']"
						routerLinkActive="text-primary"
					>
						Профиль
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/client', 'task-manager']"
						routerLinkActive="text-primary"
					>
						Рабочие пространства
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="#"
						(click)="logout($event)"
					>
						Выйти
					</a>
				</li>
			</ul>
			<ul class="navbar-nav px-5 pt-3 pb-5 w-100">
				<li class="nav-item">
					<button
						app-shared-button
						class="text-start nav-link"
						(click)="modal = !modal"
					>
						Новое рабочее пространство
					</button>
				</li>
			</ul>
		</nav>
	</div>

	<div class="col-md-8 shadow-sm">
		<app-header
			*ngIf="showHeader()"
		></app-header>
		<div class="p-3">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<app-create-workspace
	(close)="modal = false"
	*ngIf="modal"
	[ngModalClass]="modal ? 'modal-open' : ''"
></app-create-workspace>
