<div class="row gx-0 h-100">
	<div class="col-md-4 bg-light h-auto">
		<nav class="navbar flex-column">
			<ul class="navbar-nav border-1 border-bottom border-dark w-100 px-5 pt-5 pb-3">
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/client', 'home']"
						routerLinkActive="text-primary"
					>
						Главная
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/client', 'profile']"
						routerLinkActive="text-primary"
					>
						Профиль
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/client', 'task-manager']"
						routerLinkActive="text-primary"
					>
						Доски
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="#"
						(click)="logout($event)"
					>
						Выйти
					</a>
				</li>
			</ul>
			<ul class="navbar-nav px-5 pt-3 pb-5 w-100">
				<li class="nav-item">
					<button
						app-shared-button
						class="nav-link"
						(click)="modal = !modal"
					>
						Новая доска
					</button>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-md-8">
		<app-header></app-header>
		<div class="p-3">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<app-modal
	(close)="modal = false"
	*ngIf="modal"
	[ngModalClass]="modal ? 'modal-open' : ''"
></app-modal>
