:root {


--btn-main-brs: 8px;
--btn-main-p: 10px;
--btn-main-min-w: 200px;

--btn-main-bg-cl: var(--cl-gray-5);
--btn-main-cl: var(--cl-black);

--btn-primary-bg-cl: var(--cl-gray-4);
--btn-primary-cl: var(--cl-black);

--btn-secondary-bg-cl: var(--cl-blue-1);
--btn-secondary-cl: var(--cl-black);

--btn-success-bg-cl: var(--cl-green-1);
--btn-success-cl: var(--cl-white);

--btn-warning-bg-cl: var(--cl-orange-1);
--btn-warning-cl: var(--cl-white);

--btn-danger-bg-cl: var(--cl-red-1);
--btn-danger-cl: var(--cl-white);


}
