:root {


--field-h: 56px;
--field-py: 0;
--field-px: 22px;
--field-brs: 24px;

--field-shadow-w: 1px;

--field-main-normal-bg-cl: var(--cl-white);
--field-main-normal-shadow-cl: var(--cl-gray-4);
--field-main-normal-cl: var(--cl-gray-3);

--field-main-focus-bg-cl: var(--cl-white);
--field-main-focus-shadow-cl: var(--cl-black);
--field-main-focus-cl: var(--cl-gray-3);

--field-main-hover-bg-cl: var(--cl-white);
--field-main-hover-shadow-cl: var(--cl-gray-4);
--field-main-hover-cl: var(--cl-gray-3);

}
